body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
    transition: background 0.5s ease;
  }

  body {
    margin: 0;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    background: url("pattern-bg.png") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
  }
  
  .main-logo {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .start-card {
    background: linear-gradient(135deg, #ffffff, #fff5f6);
  }
  .company-logo {
    position: fixed;
    top: 20px;
    right: 30px;
    width: 80px;
  }
  
  .screen {
    display: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    animation: fade 0.5s ease;
  }
  
  .active {
    display: flex;
  }
  
  .card, .result-card {
    background: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
  }

  .ai-preview {
    width: 100%;
    border-radius: 25px;
    margin: 20px 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  }

  button {
    background: #FF0332;
    border: none;
    padding: 14px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255,3,50,0.3);
  }
  
  video {
    width: 100%;
    border-radius: 15px;
    margin: 15px 0;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #FF0332;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  .products-grid {
    display: grid;
    gap: 15px;
    margin: 20px 0;
  }
  
  .product-card {
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    width: 100%;
    border-radius: 15px;
  }
  
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .footer {
    position: relative;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
    font-size: 14px;
    font-weight: 600;
    color: #666;
  }
  .footer p {
    letter-spacing: 1px;
  }